.git
.github
.idea
.v0-trash
.vercel
.snowflake

**/node_modules
**/.next
**/.venv
**/__pycache__
**/*.pyc
**/*.tsbuildinfo

**/.env
**/.env.*
**/.job-cache
**/db.sqlite3
**/logs.txt
**/youtube_cookies.txt

clients
