.git
.github
.idea
.v0-trash
.vercel
.snowflake

**/node_modules
**/.next
**/.venv
**/__pycache__
**/*.pyc
**/*.tsbuildinfo

**/.env
**/.env.*
**/.job-cache
**/db.sqlite3
**/logs.txt
**/youtube_cookies.txt

clients
!clients/
!clients/android/
!clients/android/app/
!clients/android/app/build/
!clients/android/app/build/outputs/
!clients/android/app/build/outputs/apk/
!clients/android/app/build/outputs/apk/debug/
!clients/android/app/build/outputs/apk/debug/app-arm64-v8a-debug.apk
